<?php
error_reporting(E_ALL);
// Database connection using mysqli
$dbhost = "localhost";
$database = "homestead";
$dbuser = "homestead";
$dbpass = "secret";

$mysqli = new mysqli($dbhost, $dbuser, $dbpass, $database);
if ($mysqli->connect_error) {
    die("Connection failed: " . $mysqli->connect_error);
}
include('varset.php');

//Global Variables
$date = time();

//Auto Administration
//Banned
$stmt = $mysqli->prepare("SELECT * FROM banned WHERE ip = ?");
$stmt->bind_param("s", $charip);
$stmt->execute();
$getbanned = $stmt->get_result();
if ($getbanned->num_rows == 1) {
    print("alert('You are banned.');");
    print("window.location = 'http://fallenimmortals.old/';");
}
$stmt->close();

//Unmute
$getmuted = $mysqli->query("SELECT * FROM muted");
while ($muted = $getmuted->fetch_assoc()) {
    if ($muted['mutetime'] <= time()) {
        $unmute_stmt = $mysqli->prepare("DELETE FROM muted WHERE id = ?");
        $unmute_stmt->bind_param("i", $muted['id']);
        $unmute_stmt->execute();
        $unmute_stmt->close();

        $unmutemessage = "<b><font color='#DD00DD'>Player " . $muted['username'] . " has been unmuted!</font></b><br />";
        $insert_stmt = $mysqli->prepare("INSERT INTO chatroom (`date`, `userlevel`, `username`, `message`, `to`) VALUES (?, '3', ?, ?, 'Chatroom')");
        $insert_stmt->bind_param("iss", $date, $muted['mutedby'], $unmutemessage);
        $insert_stmt->execute();
        $insert_stmt->close();
    }
}
?>